footer {
    display: none;
}

.Detail__Container {
    /* width: 1000px; */
    /* height: auto; */
    /* margin: auto; */
    /* background-color: white; */
}

.card img {
    height: 100%;
    object-fit: cover;
}

.Detail__TitleBox {
    display: flex;
    flex-direction: row;
    background-color: rgba(225, 225, 225, 0.5);
    color: black;
    padding: 15px;
    border-radius: 30px;
    margin: 10px 0 10px 0;
}

.Detail__Title__Stat {
    padding: 10px 20px 20px 20px;
    width: 450px;
}

.Detail__Title__StatTitle {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.Detail__Info__PlatformBox {
    background-color: white;
    margin-left: auto;
    width: 300px;
    height: 300px;
    border: solid 1px black;
    border-radius: 10%;
    box-shadow: 5px 5px 5px;
}

.Detail__ContentBox {
    display: flex;
    flex-direction: column;
    background-color: rgba(225, 225, 225, 0.5);
    color: black;
    padding: 15px;
    border-radius: 30px;
    margin: 10px 0 10px 0;
}

.Detail__ContentBox__Title {
    font-weight: bold;
    font-size: 21px;
}

.Detail__ContentBox__GraphTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.Detail__ContentBox__GraphTitle p {
    margin: 0px;
}

.bar-chart {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 200px;
}

.bar-chart__text {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.bar-chart__bar {
    flex-grow: 1;
    background-color: rgb(255, 221, 99);
    transition: width 0.5s ease-in-out;
    margin: 0 20px 0 20px;
}

.bar-chart__barText {
    flex-grow: 1;
    text-align: center;
    margin: 0 20px 0 20px;
    color: gray;
    font-size: 12px;
}

.Detail__ReviewBox {
    display: flex;
    flex-direction: column;
    background-color: rgba(225, 225, 225, 0.5);
    color: black;
    padding: 15px;
    border-radius: 30px;
    margin: 10px 0 10px 0;
}

/* .Index__main {
    display: block;
    width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
  } */

.Detail__Content__Similar {
    width: 950px;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
}

.Detail__carousel {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.card {
    flex: 0 0 auto;
    margin: 0 10px;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
}

.card img {
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.card-title {
    color: black;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 15px;
}

.Detail__Card:hover .card img {
    transform: scale(1.1);
}

/* .Index__Like {
    position: absolute;
    border: solid 1px black;
    border-radius: 50%;
    right: 10px;
    top: 10px;
} */

.Detail__Card__Content {
    width: 163px;
    /* height: 100%; */
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 7px;
    overflow: hidden;
}

.Detail__Card:hover .card-title {
    color: black;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: visible;
    /* text-overflow:ellipsis; */
    animation: scroll-text 10s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}