p {
    margin: 0px;
}

hr {
    /* margin: 10px 0 10px 0; */
}

footer {
    display: none;
}

.Detail__Info__PlatformButton {
    border: solid 1px #7048E9;
    background-color: #7048E9;
    border-radius: 10px;
    font-size: 14px;
}

button {
    appearance: none;
    cursor: pointer;
    border: 0px;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}


.Detail__Container {
    /* background: linear-gradient(135deg, #7048E9, #000000, #7048E9); */
}


.Detail__list {
    display: grid;
    grid-template-rows: redpeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.detail-item-1 {
    grid-column: span 2;
}

.detail-item-2 {
    grid-column: span 1;
}

.detail-item-3 {
    grid-column: span 2;
}

.detail-item-4 {
    grid-column: span 1;
}

.detail-item-5 {
    grid-column: span 3;
}

.detail-item-6 {
    grid-column: span 3;
}

.detail-item-7 {
    grid-column: span 3;
}

.detail-item {
    padding: 1rem;
}





/* 1. 현재 영화 정보 박스 */
.Detail__TitleInfoBox {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: white;
    border-radius: 10px;
}

.title--image {
    object-fit: cover;
}

.Detail__Info__WatchingBox {
    display: flex;
    border: 1px solid #fff;
    border-radius: 5px;
}


/* 2. 지금 여기서 보기  */
.Detail__Info__PlatformBox {}


.Detail__Info__Platform {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
}

.Detail__Info__PlatformImg {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 10px;
    object-fit: cover;
}

.Detail__Info__PlatformTextBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}




/* 3. 선호하는 태그 */
.Detail__TagAndRatingBox {
    display: flex;
}

.Detail__TagBox {
    display: flex;
    flex-direction: column;
}

.Detail__Tag {
    display: flex;
}



/* 4. 별점 그래프 */
.Detail__RatingBox {
    display: flex;
    flex-direction: column;
}

/* 5. 정보, 출연/제작 */
.Detail__ContentBox__GraphTitle {
    display: flex;
    justify-content: space-between;
}


.bar-chart {
    display: flex;
    align-items: flex-end;
    height: 200px;
}

.bar-chart__text {
    display: flex;
    align-items: flex-end;
}

.bar-chart__bar {
    flex-grow: 1;
    background-color: #c8c0e2;
    margin: 0 0.2rem;
    transition: width 0.5s ease-in-out;
}

.bar-chart__barText {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
}

.Detail__ContentBox {
    display: flex;
    flex-direction: column;
}


/* 6. 리뷰스 */
.Detail__ReviewBox {
    display: flex;
    flex-direction: column;
}

/* 6-1. 유저, 콘텐츠 */
.Detail__Review {
    display: grid;
    grid-template-columns: 7fr 150px;
    border-bottom: 1px solid #555;
    /* background-color: rgba(31, 31, 31, 1); */
    padding: 0.5rem 0;
    margin: 0.5rem 0;

}

.detail__review__user--content {
    display: grid;
    grid-template-columns: 60px 7fr;
    grid-gap: 1rem;
}

/* 6-1-1. 유저 */
.detail__user--wrap {
    /* margin: 0 1rem; */
}

.Detail__Review__UserInfo {
    display: flex;
    flex-direction: column;
}

.Detail__Review__User__ImgBox {
    display: flex;
    justify-content: center;
}

.Detail__Review__User__Img {
    width: 2.5rem;
    height: 2.7rem;
    border: 2px solid #fff;
    border-radius: 50%;
}

.noimage {
    padding-top: 0.2rem;
}

.Detail__Review__User__Name {
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
}

.Detail__Review__User__Stat {
    display: flex;
    justify-content: space-between;
}

.Detail__Review__User__StatItem--Review {
    display: block;
    background-image: url("review.png");
    background-size: cover;
    width: 12px;
    height: 12px;
}

.Detail__Review__User__StatItem--Follower {
    display: block;
    background-image: url("follower.png");
    background-size: cover;
    width: 12px;
    height: 12px;
}

/*   6- 1-2. 콘텐츠 */
.Detail__Review__Content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Detail__Review__Rating {
    display: flex;
    flex-direction: row;
    color: #555555;
    align-items: center;
}



.SpoilerNone--Btn {
    color: #7048E9;
    background-color: none;
}

.SpoilerNone--Btn:hover {
    border-bottom: solid 1px #7048E9;
}

.Detail__Review__Tags {}

/* 6-2 . 신고 삭제 수정 */
.Detail__Review__Etc {
    display: flex;
    flex-direction: column;
}

.Detail__Review__Etc button:hover {
    border-bottom: solid 1px #7048E9;
}

/* .Index__main {
    display: block;
    width: 1200px;
    height: auto;
    margin: auto;
    margin-top: 100px;
  } */



/* 7. 비슷한 작품 */
.Detail__SimilarBox {
    display: flex;
    flex-direction: column;
    background-color: rgba(31, 31, 31, 1);
}

.Detail__Content__Similar {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.Detail__carousel {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.card {
    flex: 0 0 auto;
    scroll-snap-align: start;
    position: relative;
    overflow: hidden;
}

.card img {
    height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Detail__Card:hover .card img {
    transform: scale(1.1);
}

/* .Index__Like {
    position: absolute;
    border: solid 1px black;
    border-radius: 50%;
    right: 10px;
    top: 10px;
} */

.Detail__Card__Content {
    width: 163px;
    overflow: hidden;
}

.Detail__Card:hover .card-title {
    white-space: nowrap;
    overflow: visible;
    /* text-overflow:ellipsis; */
    animation: scroll-text 10s linear infinite;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}