{% extends 'base.html' %}

{% load static %}

{% block title %}INDEX{% endblock title %}
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'index/index.css' %}">
<style>
  
</style>
{% endblock style %}  

{% block content %}
{% if request.user.is_superuser %}
{% else %}  
  <div class="Index__main">    
    {% for t , movies in tag_dict.items %}
      <h2>{{t}}</h2>
      <div class="Index__Content__rankingContainer">
        <div class="carousel" id="carousel-{{ movie.id }}">
          {% for movie in movies %}
              <a class="movie-link" href="{% url 'movies:detail' movie.movie_id %}">
                <div class="Index__Card">
                  <div class="card" style="width: 200px; height: 300px; position: relative; overflow: hidden;">
                    {% if movie.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="{{movie.title}}">
                  {% else %}
                    <img style="width:300px;" src="{% static 'img/accounts/no_poster.png' %}" alt="기본 영화 포스터">
                  {% endif %}
                    <div class="Index__Like"></div>
                  </div>
                  <div class="Index__Card__Content">
                    <div class="card-title">{{ movie.title }}</div>
                  </div>
                </div>
              </a>
          {% endfor %}
        </div>  
      </div>     
    {% endfor %}
  </div>
{% endif %}



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var carousels = document.querySelectorAll('.carousel');
  
    carousels.forEach(function(carousel) {
      var isDragging = false;
      var startX, cardStartX;
  
      carousel.addEventListener('mousedown', function(e) {
        isDragging = true;
        startX = e.pageX - carousel.offsetLeft;
      });
  
      carousel.addEventListener('mouseup', function() {
        isDragging = false;
      });
  
      carousel.addEventListener('mousemove', function(e) {
        if (!isDragging) return;
        e.preventDefault();
        var x = e.pageX - carousel.offsetLeft;
        var walk = x - startX;
  
        carousel.scrollLeft -= walk;
      });
    });
  });
  
  const carouselElements = document.querySelectorAll('.carousel');
  let direction = 1;
  let scrollIntervals = [];
  
  function handleScroll() {
    carouselElements.forEach(function(carouselElement) {
      const scrollPosition = carouselElement.scrollLeft;
      const containerWidth = carouselElement.offsetWidth;
      const contentWidth = carouselElement.scrollWidth;
  
      if (scrollPosition === 0) {
        direction = 1;
      }
    });
  }
  
  function startAutoScroll() {
    carouselElements.forEach(function(carouselElement, index) {
      scrollIntervals[index] = setInterval(() => {
        carouselElement.scrollBy({
          left: direction * 0.1,
          behavior: 'smooth',
        });
      }, 5000);
    });
  }
  
  function stopAutoScroll() {
    scrollIntervals.forEach(function(scrollInterval) {
      clearInterval(scrollInterval);
    });
  }
  
  window.addEventListener('load', () => {
    startAutoScroll();
  });
  
  carouselElements.forEach(function(carouselElement) {
    carouselElement.addEventListener('mouseenter', () => {
      stopAutoScroll();
    });
  });
  
  carouselElements.forEach(function(carouselElement) {
    carouselElement.addEventListener('mouseleave', () => {
      startAutoScroll();
    });
  });
</script>

{% endblock content %}

{% block script %}{% endblock script %}