{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
<style>
  
</style>
{% endblock style %}  

{% block content %}
{% if request.user.is_authenticated %}
{% else %}
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h5 class="my-2">환영합니다! 당신의 영화 취향을 찾아드립니다.</h5>
    <div class="row">
      <a class="col-6 btn" href="{% url 'accounts:login' %}">로그인</a>
      <a class="col-6 btn" href="{% url 'accounts:signup' %}">회원가입</a>
    </div>
  </div>
</div>
{% endif %}


<div class="Main__main image-hover">
  <div class="Main__Category">
    {% comment %} <p class="Main__Crew">임시 카테고리</p> {% endcomment %}
    <p class="Main__Tag">"리뷰 평점순"</p>
  </div>
  <div class="Main__Content__rankingContainer">
    <div class="carousel" id="carousel-review">
      {% for movie in movies %}
        <a class="movie-link" href="{% url 'movies:detail' movie_id=movie.movie_id %}">
          <div class="Main__Card">
            <div class="card" style="width: 200px; height: 300px; position: relative; overflow: hidden;">
              <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" alt="">
              <div class="Main__Like"></div>
            </div>
            <div class="Main__Card__Content">
              <div class="card-title">{{ movie.title }}</div>
              <i id="rate" class="bi bi-star-fill" style="color: yellow;"> {{ movie.avg_rating| floatformat:1 }}</i>
              {% if request.user.is_superuser %}
                <span><a href="{% url 'movies:create' movie.id %}">생성하기</a></span>
              {% endif %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>


  {% for platform, platform_movies in movies_by_platform.items %}
    {% if platform_movies %}
      <div class="Main__Category">
        {% comment %} <p class="Main__Crew">임시 카테고리</p> {% endcomment %}
        <p class="Main__Tag">"{{ platform }} 영화 평점 높은 순"</p>
      </div>
      <div class="Main__Content__rankingContainer">
        <div class="carousel" id="carousel-platform">
          {% for platform_movie in platform_movies %}
            <a class="movie-link" href="{% url 'movies:detail' movie_id=platform_movie.movie_id %}">
              <div class="Main__Card">
                <div class="card" style="width: 200px; height: 300px; position: relative; overflow: hidden;">
                  <img src="https://image.tmdb.org/t/p/w300{{ platform_movie.poster_path }}" alt="{{ platform_movie.title }} 포스터">
                  <div class="Main__Like"></div>
                </div>
                <div class="Main__Card__Content">
                  <div class="card-title">{{ platform_movie.title }}</div>
                  <i id="rate" class="bi bi-star-fill" style="color: yellow;"> {{ platform_movie.avg_rating| floatformat:1 }}</i>
                  {% if request.user.is_superuser %}
                    <span><a href="{% url 'movies:create' movie_id=platform_movie.movie_id %}">생성하기</a></span>
                  {% endif %}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% for genre_name, movies_data in genre_movie_data.items %}
    <div class="Main__Category">
      {% comment %} <p class="Main__Crew">임시 카테고리</p> {% endcomment %}
      <p class="Main__Tag">"{{ genre_name }}"</p>
    </div>
    <div class="Main__Content__rankingContainer">
      <div class="carousel" id="carousel-platform">
        {% for genre_movie in movies_data.results %}
          <a class="movie-link" href="{% url 'movies:detail' movie_id=genre_movie.id %}">
            <div class="Main__Card">
              <div class="card" style="width: 200px; height: 300px; position: relative; overflow: hidden;">
                <img src="https://image.tmdb.org/t/p/w300{{ genre_movie.poster_path }}" alt="{{ genre_movie.title }} 포스터">
                <div class="Main__Like"></div>
              </div>
              <div class="Main__Card__Content">
                <div class="card-title">{{ genre_movie.title }}</div>
                <i id="rate" class="bi bi-star-fill" style="color: yellow;"> {{ genre_movie.vote_average }}</i>
                {% if request.user.is_superuser %}
                  <span><a href="{% url 'movies:create' movie_id=genre_movie.id %}">생성하기</a></span>
                {% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
    
    
{% endblock content %}

  {% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var carousels = document.querySelectorAll('.carousel');
  
    carousels.forEach(function(carousel) {
      var isDragging = false;
      var startX, cardStartX;
  
      carousel.addEventListener('mousedown', function(e) {
        isDragging = true;
        startX = e.pageX - carousel.offsetLeft;
      });
  
      carousel.addEventListener('mouseup', function() {
        isDragging = false;
      });
  
      carousel.addEventListener('mousemove', function(e) {
        if (!isDragging) return;
        e.preventDefault();
        var x = e.pageX - carousel.offsetLeft;
        var walk = x - startX;
  
        carousel.scrollLeft -= walk;
      });
    });
  });

  const carouselElements = document.querySelectorAll('.carousel');
  let direction = 1;
  let scrollIntervals = [];
  
  function handleScroll() {
    carouselElements.forEach(function(carouselElement) {
      const scrollPosition = carouselElement.scrollLeft;
      const containerWidth = carouselElement.offsetWidth;
      const contentWidth = carouselElement.scrollWidth;
  
      if (scrollPosition === 0) {
        direction = 1;
      }
    });
  }

  function startAutoScroll() {
    carouselElements.forEach(function(carouselElement, Main) {
      scrollIntervals[Main] = setInterval(() => {
        carouselElement.scrollBy({
          left: direction * 0.1,
          behavior: 'smooth',
        });
      }, 5000);
    });
  }
  
  function stopAutoScroll() {
    scrollIntervals.forEach(function(scrollInterval) {
      clearInterval(scrollInterval);
    });
  }
  
  window.addEventListener('load', () => {
    startAutoScroll();
  });
  
  carouselElements.forEach(function(carouselElement) {
    carouselElement.addEventListener('mouseenter', () => {
      stopAutoScroll();
    });
  });
  
  carouselElements.forEach(function(carouselElement) {
    carouselElement.addEventListener('mouseleave', () => {
      startAutoScroll();
    });
  });

  // 모달 표시 함수
  function showModal() {
    // 모달 요소 선택
    var modal = document.getElementById('myModal');
    // 모달을 보이도록 설정
    modal.style.display = 'block';
  }
  
  var user = {
    is_authenticated: false // 로그인 상태에 따라 값 설정
  };
    
  // 페이지 로드 완료 시 모달 표시
  window.onload = function() {
    // 로그인 상태인 경우 모달을 표시하지 않음
    if (!user.is_authenticated) {
      showModal();
    }
  };

  // 모달 닫기 함수
  function closeModal() {
    var modal = document.getElementById('myModal');
    // 모달을 숨김 처리
    modal.style.display = 'none';
  } 
</script>
{% endblock script %}