{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/movies/review_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">

<style>
.review--detail__review--wrap {
  display: grid;
  grid-template-columns: 100px 10fr;
  border-radius: 10px;
  background-color: #111;
  padding: 1rem 0.5rem;
}
.review__detail__etc--list {
  display: inline-flex;

}
.comment--title--wrap {
  display: flex;
  justify-content: space-between;
}

/* 모달 디자인 */
.comment--contents--list {
  display: grid;
  grid-template-columns: 10fr 50px;
  grid-gap: 5px;
}
.modal--form--control{
  appearance: none;
  width: 100%;
  border: 1.5px solid #555;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #111;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  transition: box-shadow .30s ease-in-out;
}
.modal--form--control:focus {  
  border: 1.5px solid #a182ff;
  outline:none;
  box-shadow: 0.5px 0.5px 1px 1px rgba(225, 225, 225, 0.5);
}
</style>
{% endblock style %}  

{% block content %}
<article>
  <h1>{{ post.title }} 리뷰 페이지</h1>
  <section class="review--detail__review--wrap">
    <a class="detail__user--list" href="{% url 'accounts:profile' review.user %}">
      {% if review.user.picture %}
      <div class="Detail__Review__User__ImgBox">
        <img class="Detail__Review__User__Img" src="{{ review.user.picture.url }}" alt="유저 이미지">
      </div>
      {% else %}
      <div class="Detail__Review__User__ImgBox">
        <img class="Detail__Review__User__Img noimage" src="{% static 'img/accounts/cidia_profile_noimage_02.png' %}" alt="유저 이미지 없음">
      </div>
      {% endif %}
      <p class="Detail__Review__User__Name">{{ review.user }}</p>
    </a>
    <div>
      <div>
      {{ review.content }}
      </div>
      <div class="review__detail__etc--list">
        <p>{{ review.created_at|date:"Y년 m월 d일" }}</p>
        <p>
          <form id="review-like-forms" data-movie-id="{{ post.movie_id }}" data-review-id="{{ review.id }}">
          {% csrf_token %}
          {% if request.user in review.like_users.all %}
            <button type="submit" title="좋아요 취소" class="ms-1" style="font-size:0.8rem; border: none; outline: inherit; background-color: transparent;">
              <i class="bi bi-heart-fill" style="color: pink;">
                <span>{{ review.like_users.all|length }}</span>
              </i>
            </button>
          {% else %}
            <button type="submit" title="좋아요" class="ms-1" style="font-size:0.8rem; border: none; outline: inherit; background-color: transparent;">
              <i class="bi bi-heart" style="color: pink;">
                <span>{{ review.like_users.all|length }}</span>
              </i>
            </button>
          {% endif %}
          </form>
        </p>
      </div>
    </div>
  </section>
  
  <section class="review--detail__comment--wrap" style="margin-top:2rem;">
    <div class="comment--title--wrap">
      <h3>댓글</h3>
      <button class="sm--good--button" onclick="openModal()">댓글 작성</button>
    </div>
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        {% comment %} <form action="{% url 'movies:comment_create' movie_id=review.post.movie_id review_id=review.id %}" method="POST"> {% endcomment %}
        <form action="{% url 'movies:comment_create' movie_id=post.movie_id review_id=review.id %}" method="POST">
          {% csrf_token %}
          <div class="comment--contents--list">
            <!-- 입력 필드 -->
            <div class="form-group">
              <label for="id_content">댓글을 작성 해 주세요.</label>
              <textarea id="id_content" name="content" rows="4" class="modal--form--control"></textarea>
            </div>
            <!-- 제출 버튼 -->
            <button class="sm--good--button" type="submit" style="height:112px; margin-top:24px;">등록</button>
          </div>
        </form>
      </div>
    </div>
    
    {% for comment in review.reviews.all %}
    <div clss="comment--list" style="display:grid; grid-template-columns: 100px 10fr; background-color: #111; margin-bottom: 1rem;">
      <a class="detail__user--list" href="{% url 'accounts:profile' comment.user %}">
        {% if review.user.picture %}
        <div class="Detail__Review__User__ImgBox">
          <img class="Detail__Review__User__Img" src="{{ comment.user.picture.url }}" alt="유저 이미지">
        </div>
        {% else %}
        <div class="Detail__Review__User__ImgBox">
          <img class="Detail__Review__User__Img noimage" src="{% static 'img/accounts/cidia_profile_noimage_02.png' %}" alt="유저 이미지 없음">
        </div>
        {% endif %}
        <p class="Detail__Review__User__Name">{{ comment.user }}</p>
      </a>
      <div>
        <p>{{ comment.content }}</p>
        <div class="d-flex flex-row">
          <p>{{ comment.created_at|date:"Y년 m월 d일 h:m" }}</p>
          <form id="like-comment-form" data-comment-id="{{ comment.pk }}" data-movie-id="{{ post.movie_id }}" data-review-id="{{ review.id }}">
            {% csrf_token %}
            {% if request.user in comment.like_users.all %}
              {% comment %} <input type="submit" value="댓글 좋아요 취소" id="like-comment-{{ comment.pk }}"> {% endcomment %}
              <button type="submit" id="like-comment-{{ comment.pk }}" class="ms-1" title="댓글 좋아요 취소" style="font-size:0.8rem; border: none; outline: inherit; background-color: transparent;">
                <i class="bi bi-heart-fill" style="color: pink;">
                  <span>{{ comment.like_users.all|length }}</span>
                </i>
              </button>
            {% else %}
              <button type="submit" id="like-comment-{{ comment.pk }}" class="ms-1" title="댓글 좋아요" style="font-size:0.8rem; border: none; outline: inherit; background-color: transparent;">
                <i class="bi bi-heart" style="color: pink;">
                  <span>{{ comment.like_users.all|length }}</span>
                </i>
              </button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
      {% empty %}
        <p>댓글이 없습니다.</p>
    
    {% endfor %}
  </section>
</article>



{% endblock content %}

{% block script %}
<script>
// 좋아요 비동기 movieId 받아오기
  // like-form요소 선택
  const forms = document.querySelector('#review-like-forms')
  const commentForms = document.querySelectorAll('#like-comment-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  forms.addEventListener('submit', function (event) {
    event.preventDefault()
    const movieId = event.target.dataset.movieId
    const reviewId = event.target.dataset.reviewId
    axios({
      method: 'post',
      url: `/movies/${movieId}/reviews/${reviewId}/like/`,
      headers: {'X-CSRFToken': csrftoken},
    })
    .then((response) => {
      // 요청이 성공한 경우 처리할 로직 작성
      const isLiked = response.data.is_liked
      const likeBtn = document.querySelector('#review-like-forms > button[type=submit]')
      const likeBtni = document.querySelector('#review-like-forms > button[type=submit] > i')
      if (isLiked === true) {
        likeBtni.classList.remove('bi-heart')
        likeBtni.classList.add('bi-heart-fill') 
      } else {
        likeBtni.classList.remove('bi-heart-fill')
        likeBtni.classList.add('bi-heart') 
      }
      const reviewsCountTag = document.querySelector('#review-like-forms > button[type=submit] > i > span')
      const reviewsCountData = response.data.review_likes_count
      reviewsCountTag.textContent = reviewsCountData
    })
  })



  {% comment %} forms.forEach((form) => {
    form.addEventListener('submit',function (event) {
      event.preventDefault()
      const reviewId = event.target.dataset.reviewId
      const movieId = event.target.dataset.movieId
      axios({
        method: 'post',
        url: `/movies/${movieId}/reviews/${reviewId}/like/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then((response) => {
          // 요청이 성공한 경우 처리할 로직 작성
          const isLiked = response.data.is_liked
          const likeBtn = document.querySelector('#like-' + reviewId)
          if (isLiked === true) {
            likeBtn.value = '좋아요 취소'
          } else {
            likeBtn.value = '좋아요'
          }
        })
        .catch((error) => {
          console.log(error.response)
        })
    })
  }) {% endcomment %}

  commentForms.forEach((form) => {
    form.addEventListener('submit', function(event) {
      event.preventDefault()
      const commentId = event.target.dataset.commentId
      const movieId = event.target.dataset.movieId
      const reviewId = event.target.dataset.reviewId

      axios({
        method: 'post',
        url: `/movies/${movieId}/reviews/${reviewId}/comment/${commentId}/like/`,
        headers: { 'X-CSRFToken': csrftoken },
      })
        .then((response) => {
          // 요청이 성공한 경우 처리할 로직 작성
          const isLiked = response.data.is_liked
          const likeBtn = document.querySelector('#like-comment-' + commentId )
          const likeBtni = likeBtn.querySelector('i')
          if (isLiked === true) {
            likeBtni.classList.remove('bi-heart')
            likeBtni.classList.add('bi-heart-fill') 
          } else {
            likeBtni.classList.remove('bi-heart-fill')
            likeBtni.classList.add('bi-heart') 
          }
          const commentsCountTag = likeBtn.querySelector('i > span')
          const commentsCountData = response.data.comment_like_count
          commentsCountTag.textContent = commentsCountData
        })
        .catch((error) => {
          console.log(error.response)
        })
    })
  })


  // 모달
  function openModal() {
    document.getElementById('modal').style.display = 'block';
  }
  
  function closeModal() {
    document.getElementById('modal').style.display = 'none';
  }
</script>
{% endblock script %}