{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block style %}{% endblock style %}  

{% block content %}
<h3>Create</h3>
<form action="{% url 'movies:review_create' movie.id  %}" method="post">
    {% csrf_token %}
    <h2 class="mb-4 title fw-bold">리뷰 생성</h2>
    <div class="mb-3 main">
      별점 : {{ form.ratings }}
    </div>
    <div class="mb-3 main">
      태그 : {{ form.tags }}
    </div>
    <div class="mb-3 main">
      내용 : {{ form.content }}
    </div>
    
    <input type="submit" value="생성하기" class="btn btn-outline-success mt-4" style="width:400px;">
</form>

{% endblock content %}
{% block script %}{% endblock script %}