{% extends 'base.html' %}

{% block title %}
검색 결과 {{query}}

{% endblock title %}

{% block style %}{% endblock style %}  

{% block content %}

{% if search_data.results or person_search_data.results or tag_movies or tag_reviews_1 %}
  <span class="mt-5"> <b>"{{query}}" </b>검색 결과 </span>
{% else %}
  <p> {{query}} 검색 결과가 없습니다. </p>
{% endif %}
<hr>

<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        영화 이름으로 검색 <b>{{search_data.results|length}} 건</b>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        {% if search_data.results %}
          <div class="row">
            {% for movie in posts %}
              <div class="col-3">
                <a href="{% url 'movies:detail' movie.id %}">
                  <div>
                    {% if movie.poster_path %}
                      <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="{{movie.title}}">
                    {% else %}
                      <p>포스터 없을 경우 static에 대체 이미지 넣기 </p>
                    {% endif %}
                  </div>
                  <div>
                    <p class="text-center">{{movie.title}}</p>
                  </div>

                </a>
              </div>     
            {% endfor %}
          </div>
        {% else %}
          <p>영화 이름으로 검색 결과가 없습니다.</p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <span>태그로 검색 <b>{{total_tags}} 건</b> </span>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
      <div class="accordion-body">
        {% if tag_movies or tag_reviews_1 %}
          <div class="row">
            {% if tag_movies %}
                {% for movie in tag_movies %}
                <div class="col-3">
                  <p>"{{tag_name}}"</p>
                  <a href="{% url 'movies:detail' movie.movie_id %}">
                <div>
                  {% if movie.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="{{movie.title}}">
                  {% else %}
                    <p>대체 이미지 {{movie.title}} </p>
                  {% endif %}
                </div>
                  <div>
                    <p class="text-center">{{movie.title}}</p>
                  </div>
                  </a>
                </div>
                {% endfor %}
            {% elif tag_reviews_1 %}
                {% for movie in tag_reviews_1 %}
                  <div class="col-3">
                    <span> <b>"{{tag_name}}"</b></span>
                    <a href="{% url 'movies:detail' movie.movie_id %}">
                      <div>
                        {% if movie.poster_path %}
                          <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="{{movie.title}}">
                        {% else %}
                          <p>대체 이미지 {{movie.title}} </p>
                        {% endif %}
                      </div>
                      <div>
                        <p class="text-center">{{movie.title}}</p>
                      </div>
                    </a>
                  </div>
                {% endfor %}


            {% else %}
            <p>태그로 검색 결과가 없습니다.</p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        <p> 인물 검색 결과 <b>{{movies_cast|length}}건</b> </p>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
      <div class="accordion-body">
        {% if person_search_data.results %}
          <div class="row">
            {% for p in person_search_data.results %}
              <div class="col-3">
                {% if p.profile_path %}
                  <img src="https://image.tmdb.org/t/p/w150{{p.profile_path}}" alt="{{p.name}}">
                  <p>{{p.name}}</p>
              </div>
              
              <hr>
                <div>
                  <p>{{p.name}}의 출연/제작 작품</p>
                  {% for cast in movies_cast %}
                    {% if cast.person_name == p.name%}
                      {% for movie_title in cast.movies %}
                        {% for poster in movie_posters %}
                          {% if movie_title == poster.title and poster.poster_path %}
                            <a href="{% url 'movies:detail' poster.id %}">
                            <img src="https://image.tmdb.org/t/p/w80{{ poster.poster_path }}" alt="{{ movie_title }} 포스터">
                            </a>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                </div>
                <hr>

              {% endif %}
            {% endfor %}
          </div>
      {% else %}
        <p>배우로 검색 결과가 없습니다.</p>
      {% endif %}
      </div>
    </div>
  </div>
</div>


{% comment %} <div>
              {% if movie.genre_ids %}
                <span>{{genre_dict|get_genre_name:movie.genre_ids.0}}</span>
                {% if movie.genre_ids|length > 1 %}
                  <span>{{genre_dict|get_genre_name:movie.genre_ids.1}}</span>
                {% endif %}
              {% else %}
                <span>장르 정보 없음</span>
              {% endif %}
            </div> {% endcomment %}


{% comment %} 페이지네이션 {% endcomment %}
{% comment %} <ul class="pagination justify-content-center">
  {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?query={{ query }}&page=1">처음으로</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?query={{ query }}&page={{ posts.previous_page_number }}">이전</a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
  {% endif %}

  {% for page_number in posts.paginator.page_range %}
    {% if page_number >= posts.number|add:-4 and page_number <= posts.number|add:4 %}
      {% if page_number == posts.number %}
        <li class="page-item active" aria-current="page">
          <a class="page-link" href="?query={{ query }}&page={{ page_number }}">{{ page_number }}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?query={{ query }}&page={{ page_number }}">{{ page_number }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?query={{ query }}&page={{ posts.next_page_number }}">다음</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?query={{ query }}&page={{ posts.paginator.num_pages }}">마지막으로</a>
    </li>
  {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
  {% endif %}
</ul> {% endcomment %}


{% endblock content %}
{% block script %}{% endblock script %}