body {
  background-color: #000000;
}


/* 모달 스타일링 */
.modal {
  display: none; /* 기본적으로 숨김 처리 */
  position: fixed; /* 고정 위치 */
  z-index: 1; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* 모달 내용이 넘칠 경우 스크롤 허용 */
  background-color: rgba(0, 0, 0, 0.4); /* 배경에 반투명한 색상 설정 */
}

.modal-content {
  background-color: #fefefe;
  color: black;
  margin: 15% auto; /* 화면 가운데로 위치 */
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; /* 모달 내용이 배경보다 위에 나타나도록 설정 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* carousel */

.Main__main {
  display: block;
  width: 1200px;
  height: auto;
  margin: auto;
  margin-top: 100px;
}

.Main__Content__rankingContainer {
  width: 1200px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 90px;
  padding-left: 15px;
  padding-right: 15px;
}

.Main__Crew {
  font-size: 21px;
  color: white;
}

.Main__Tag {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  margin: 10px;
}

.carousel {
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;  
}

.card {
  flex: 0 0 auto;
  margin: 0 10px;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;  
}

.card img {
  height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.card-title {
  color:white;
  font-size: 1.1rem;
  white-space:nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  margin-right: 15px;
}

.Main__Card:hover .card img {
  transform: scale(1.1);
}

/* .Main__Like {
  position: absolute;
  border: solid 1px black;
  border-radius: 50%;
  right: 10px;
  top: 10px;
} */

.Main__Card__Content {
  width: 190px;
  height: 100%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 7px;
  overflow: hidden;
}

.Main__Card:hover .card-title{
  color:white;
  font-size: 1.1rem;
  white-space:nowrap;
  overflow: visible;
  /* text-overflow:ellipsis; */
  animation: scroll-text 10s linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


@media ( max-width: 1350px ) {
  .Main__main {
    display: block;
    width: 900px;
    height: auto;
    margin: auto;
    margin-top: 100px;
  }
  .Main__Content__rankingContainer {
    width: 100%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }
  
}

@media ( max-width: 700px ) {
  .Main__main {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 100px;
  }

  .Main__Content__rankingContainer {
    width: 100%;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }

  .Main__Category {
    width: 100%;
    text-align: center;
  }
}

/* .Main__Movie__Card:hover .card-title {
  animation-play-state: paused;
} */