

body {
  font-family: 'NanumSquareAcb';
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
    "header header header header header header header"
    ". main main main main main ."
    ". main main main main main ."
    ". main main main main main ."
    ". main main main main main ."
    "footer footer footer footer footer footer footer";
  color: #fff;
  background-color: #000;
}

header.item {
  grid-area: header;      
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  width: 100%;
  z-index: 9999;
}
main.item {
  grid-area: main;
}
footer.item {
  grid-area: footer;
}


/* header */
.header--container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 
    " . header header header header header ."
  ;
  height: auto;
}
.header--wrap {
  grid-area: header;
}
.header--list {
  display: flex;
  justify-content: space-between;
}
.header--logo--wrap {
  margin-top: 2rem;
}
.header--logo--image {
  width: 200px;
}
.header--user--login--wrap {
  display: flex;
  align-items: flex-end;
}
.header--search--wrap {
  display: flex;
  align-items: flex-end;
  margin: 0 1rem;
}
.header--user--login--list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header--search--wrap > form > input {
  width: 500px;
}
.header--login--wrap{
  display: flex;
  justify-content: flex-end;
}
.header--login--wrap > div {
  margin-left: 1rem; 
}
.header--nav--wrap {
  margin-top: 1rem;
}
.header--nav--list {
  display: flex;
  justify-content: space-around;
}
.header--nav--list li.item {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
}
.header--nav--list > li.item > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem 0 0.5rem;
  transition: border-image .30s ease-in-out, font-size .30s ease-in-out;
}
.header--nav--list > li.item > a:hover {
  font-size: 16.5px;
  border: solid;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(to right, #000, #7048E9, #000);
  border-image-slice: 1;

}

@media screen and (max-width: 1350px) {
  
}
@media screen and (max-width: 1350px) {
  .header--list {
    flex-direction: column; 
    align-items: center;
  }
  .header--list > div:nth-child(2) {
    order: 3;
  }
  .header--list > div:nth-child(3) {
    order: 2;
  }
  .header--logo--wrap {
    margin: 2rem 0 1rem;
  }
  .header--search--wrap {
    width: 100%;
  }
  .header--search--wrap > form {
    width: 100%;
  }
  .header--search--wrap > form > input {
    width: 100%;
  }
  .header--user--login--wrap{
    width: 100%;
  }
  .header--user--login--list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.3rem;
  }
}

.mobile--header--wrap {
    display: none;
  }

@media screen and (max-width: 700px) {
  .header--list {
    display: none;
  }
  .mobile--header--wrap {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
  }
  .mobile--header--list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem 2rem;
  }
  .mobile--header--logo--wrap {
    display: flex;
    align-items: center;
  }

  .mobile--header--list p {
    font-size: 10px;
  }
  .mobile--header--search--wrap {
    position: relative;
  }
  .mobile--header--search--wrap > i {
    position: absolute;
    font-size: 70px;
    top: -35px;
    left: -20px;
    color: #7048E9;
  }
  .mobile--header--user--wrap {
    position: relative;
  }
  .mobile--header--user--wrap > i{
    font-size: 40px;
  }
  .mobile--header--user--wrap > p{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    color: #eee;
  }
}
/* footer */
.footer--wrap{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 
    " . footer footer footer footer footer ."
  ;
  height: auto;
}
.footer--team--wrap {
  grid-area: footer;
}
.footer--title--wrap {
  display: flex;
}



main {
  /* background-color: #232323; */
  margin-top: 152px;
  }

@media screen and (max-width: 1350px) {
  main {
    margin-top: 240px;
  }
}
@media screen and (max-width: 700px) {
  main {
    margin-top: 57px;
  }
  footer {
    margin-bottom: 155px;
  }
}


/* 대기 */
.text--hover {
  transition: border-image .30s ease-in-out, font-size .30s ease-in-out;

}
/* hover */
.text--hover:hover {
  font-size: 16.5px;
  border: solid;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(to right, #000, #7048E9, #000);
  border-image-slice: 1;
}

/* :hover {
  border: solid;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(to right, #000, #7048E9, #000);
  border-image-slice: 1;
} */

/**/
input[type="submit"] {
  color: #ffffff;
  border: none;
  background-color: #000;
}