{% extends 'base.html' %}
{% load static %}

{% block title %}만든이들{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/aboutus.css' %}">
{% endblock style %}  


{% block content %}
<article class="aboutus_container">
  <div class="aboutus__list">

    <section class="aboutus--item1">
      <div class="aboutus__image--wrap">
        <h5><p>홍</p><p>지</p><p><img class="aboutus--image" src="{% static 'img/accounts/aboutus_discord_01.png' %}" alt="조세호"></p><p>망</p><p>지</p></h5>
      </div>
      <ul>
        <li><h6>정세호</h6></li>
        <li>FRONTEND</li>
        <li>ENFP</li>
        <li><a href="https://github.com/seho1278">https://github.com/seho1278</a></li>
        <li><a href="https://together.kakao.com/big-five/summary/28211913">BIG5 성격검사</a></li>
      </ul>
    </section>

    <section class="aboutus--item2">
      <div class="aboutus__image--wrap">
        <h5><h5><p>감</p><p>지</p><p><img class="aboutus--image" src="{% static 'img/accounts/aboutus_discord_02.png' %}" alt="수지"></p><p>망</p><p>지</p></h5></h5>
      </div>
      <ul>
        <li><h6>감수지</h6></li>
        <li>BACKEND</li>
        <li>ISTP</li>
        <li><a href="https://github.com/SoozieKam">https://github.com/SoozieKam</a></li>
        <li><a href="https://together.kakao.com/big-five/summary/2280360">BIG5 성격검사</a></li>
      </ul>
    </section>

    <section class="aboutus--item3">
      <div class="aboutus__image--wrap">
        <h5><p>뭉</p><p>지</p><p><img class="aboutus--image" src="{% static 'img/accounts/aboutus_discord_03.png' %}" alt="민지"></p><p>망</p><p>지</p></h5>
      </div>
      <ul>
        <li class="mung--name"><h6>장민지</h6><img class="mung--image" src="{% static 'img/accounts/pinocchio.png' %}" alt="피노키오" title="마음예쁜 피노키오"></li>
        <li>BACKEND</li>
        <li>ISFP(J)</li>
        <li><https: href="https://github.com/mungjimangji">https://github.com/mungjimangji</a></li>
        <li><https: href="https://together.kakao.com/big-five">BIG5 성격검사</a></li>
      </ul>
    </section>

    <section class="aboutus--item4">
      <h2 class="aboutus--title">5조. 5P==1J</h2>
    </section>

    <section class="aboutus--item5">
      <div class="aboutus__image--wrap">
        <h5><p>탱</p><p>지</p><p><img class="aboutus--image" src="{% static 'img/accounts/aboutus_discord_04.png' %}" alt="원태"></p><p>망</p><p>지</p></h5>
      </div>
      <ul>
        <li><h6>한원태</h6></li>
        <li>BACKEND</li>
        <li>ISFP</li>
        <li><https: href="https://github.com/dnjsxo0616">https://github.com/dnjsxo0616</a></li>
        <li><https: href="https://together.kakao.com/big-five/summary/18016507">BIG5 성격검사</a></li>
        <li></li>
      </ul>
    </section>

    <section class="aboutus--item6">
      <div class="aboutus__image--wrap">
        <h5><p>묭</p><p>지</p><p><img class="aboutus--image" src="{% static 'img/accounts/aboutus_discord_05.png' %}" alt="미영"></p><p>망</p><p>지</p></h5>
      </div>
      <ul>
        <li><h6>정미영</h6></li>
        <li>FRONTEND</li>
        <li>INTP</li>
        <li><a href="https://github.com/qloeo">https://github.com/qloeo</a></li>
        <li><a href="https://together.kakao.com/big-five/summary/28211106">BIG5 성격검사</a></li>
        <li><a href="https://oneperweek.tistory.com/">tistory</a></li>
      </ul>
    </section>

    <section class="aboutus--item7">
      <div class="aboutus__image--wrap">
        <h5><p>도</p><p>움</p><p>주</p><p>신</p><p>분</p><p>들</p></h5>
      </div>
      <ul class="point--user--list">
        <li><a href="#" title="코드읽는게 제일 쉬었어요-연보라쳐돌이-">정소담</a><span class="point--box point--user--1"></span></li>
        <li><a href="#" title="코딩 질주">문지수</a><span class="point--box point--user--2"></span></li>
        <li><a href="#">박현준</a><span class="point--box point--user--3"></span></li>
        <li><a href="#">안정환</a><span class="point--box point--user--4"></span></li>
        <li><a href="#" title="마지막 해결사">이민욱</a><span class="point--box point--user--5"></span></li>
        <li><a href="#" title="비동기의 신">박태양</a><span class="point--box point--user--6"></span></li>
      </ul>
    </section>
  </div>
</article>
{% endblock content %}

{% block script %}{% endblock script %}