{% extends 'base.html' %}
{% load static %}

{% block title %}만든이들{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/aboutus.css' %}">
{% endblock style %}  


{% block content %}
<article>
  <div class="">
    <section class="">
      <h2>5조. 5P==1J</h2>
    </section>
    <section>
      <h4>쇼지망지</h4>
      <img src="{% static 'img/accounts/discord_ho.png' %}" alt="조세호">
      <ul>
        <li>정세호</li>
        <li>FRONTEND</li>
        <li>ENFP</li>
        <li>https://github.com/seho1278</li>
        <li>https://together.kakao.com/big-five/summary/28211913</li>
      </ul>
    </section>
    <section>
      <h4>감지망지</h4>
      <img src="{% static 'img/accounts/discord_su.png' %}" alt="수지">
      <ul>
        <li>감수지</li>
        <li>BACKEND</li>
        <li>ISTP</li>
        <li>https://github.com/SoozieKam</li>
        <li>https://together.kakao.com/big-five/summary/2280360</li>
      </ul>
    </section>
    <section>
      <h4>뭉지망지</h4>
      <img src="{% static 'img/accounts/pinocchio.png' %}" alt="민지">
      <img src="{% static 'img/accounts/discord_mung.png' %}" alt="민지">
      <ul>
        <li>장민지</li>
        <li>BACKEND</li>
        <li>ISFP(J)</li>
        <li>https://github.com/mungjimangji</li>
        <li>https://together.kakao.com/big-five</li>
      </ul>
    </section>
    <section>
      <h4>원지망지</h4>
      <img src="{% static 'img/accounts/discord_tae.png' %}" alt="원태">
      <ul>
        <li>한원태</li>
        <li>BACKEND</li>
        <li>ISFP</li>
        <li>https://github.com/dnjsxo0616</li>
        <li>https://together.kakao.com/big-five/summary/18016507</li>
      </ul>
    </section>
    <section>
      <h4>묭지망지</h4>
      <img src="{% static 'img/accounts/discord_mi.png' %}" alt="미영">
      <ul>
        <li>한원태</li>
        <li>FRONTEND</li>
        <li>INTP</li>
        <li>https://github.com/qloeo</li>
        <li>https://together.kakao.com/big-five/summary/28211106</li>
      </ul>
    </section>
    <section>
      <h4>도와주신 분들</h4>
      <ul>
        <li>정소담</li>
        <li>문지수</li>
        <li>박현준</li>
        <li>안정환</li>
      </ul>
    </section>
  </div>
</article>
{% endblock content %}

{% block script %}{% endblock script %}