{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block style %}{% endblock style %}  

{% block content %}
<article>
  <div class="footer--list--wrap">
    <section class="about_ustitle--wrap">
      <h2>5조. 5P==1J</h2>
    </section>
    <section>
      <h4>조세호</h4>
      <ul>
        <li>FRONTEND</li>
        <li>ENFP</li>
        <li>https://github.com/seho1278</li>
        <li>https://together.kakao.com/big-five/summary/28211913</li>
      </ul>
    </section>
    <section>
      <h4>감나무지</h4>
      <ul>
        <li>BACKEND</li>
        <li>ISTP</li>
        <li>https://github.com/SoozieKam</li>
        <li>https://together.kakao.com/big-five/summary/2280360</li>
      </ul>
    </section>
    <section>
      <h4>뭉지망지</h4>
      <ul>
        <li>BACKEND</li>
        <li>ISFP(J)</li>
        <li>https://github.com/mungjimangji</li>
        <li>https://together.kakao.com/big-five</li>
      </ul>
    </section>
    <section>
      <h4>일레븐태</h4>
      <ul>
        <li>BACKEND</li>
        <li>ISFP</li>
        <li>https://github.com/dnjsxo0616</li>
        <li>https://together.kakao.com/big-five/summary/18016507</li>
      </ul>
    </section>
    <section>
      <h4>정미영</h4>
      <ul>
        <li>FRONTEND</li>
        <li>INTP</li>
        <li>https://github.com/qloeo</li>
        <li>https://together.kakao.com/big-five/summary/28211106</li>
      </ul>
    </section>
  </div>
</article>
{% endblock content %}

{% block script %}{% endblock script %}