{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block style %}{% endblock style %}  

{% block content %}
<article>
  <div class="">
    <section class="">
      <h2>5조. 5P==1J</h2>
    </section>
    <section>
      <h4>조세호</h4>
      <ul>
        <li>FRONTEND</li>
        <li>ENFP</li>
        <li>https://github.com/seho1278</li>
        <li>https://together.kakao.com/big-five/summary/28211913</li>
      </ul>
    </section>
    <section>
      <h4>감나무지</h4>
      <ul>
        <li>BACKEND</li>
        <li>ISTP</li>
        <li>https://github.com/SoozieKam</li>
        <li>https://together.kakao.com/big-five/summary/2280360</li>
      </ul>
    </section>
    <section>
      <h4>뭉지망지</h4>
      <img src="{% static 'img/pinocchio.png' %}" alt="img">
      <ul>
        <li>BACKEND</li>
        <li>ISFP(J)</li>
        <li>https://github.com/mungjimangji</li>
        <li>https://together.kakao.com/big-five</li>
        <li>어려움이 없다 -장민지 -</li>
        <li>소셜로그인 내가 하라는대로 하면 된다 -장민지-</li>
        <li>채팅은 귀찮다 들어와서 말하라 -장민지-</li>
        <li>소셜로그인 5분이면 끝난다 -장민지-</li>
      </ul>
    </section>
    <section>
      <h4>일레븐태</h4>
      <ul>
        <li>BACKEND</li>
        <li>ISFP</li>
        <li>https://github.com/dnjsxo0616</li>
        <li>https://together.kakao.com/big-five/summary/18016507</li>
      </ul>
    </section>
    <section>
      <h4>정미영</h4>
      <ul>
        <li>FRONTEND</li>
        <li>INTP</li>
        <li>https://github.com/qloeo</li>
        <li>https://together.kakao.com/big-five/summary/28211106</li>
      </ul>
    </section>
    <section>
      <h4>도와주신 분들</h4>
      <ul>
        <li>정소담</li>
        <li>문지수</li>
        <li>박현준</li>
        <li>안정환</li>
      </ul>
    </section>
  </div>
</article>
{% endblock content %}

{% block script %}{% endblock script %}