{% extends 'base.html' %}
{% load static %}

{% block title %}만든이들{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/aboutus.css' %}">
{% endblock style %}  


{% block content %}
<article class="aboutus_container">
  <h2 class="aboutus--title">5조. 5P==1J</h2>
  <div class="aboutus__list">
    <section>
      <div class="aboutus__image--wrap">
        <img class="aboutus--image" src="{% static 'img/accounts/aboutus_discord_01.png' %}" alt="조세호">
        <h4>홍지망지</h4>
      </div>
      <ul>
        <li><h5>정세호</h5></li>
        <li>FRONTEND</li>
        <li>ENFP</li>
        <li><a href="https://github.com/seho1278">https://github.com/seho1278</a></li>
        <li><a href="https://together.kakao.com/big-five/summary/28211913">BIG5 성격검사</a></li>
      </ul>
    </section>
    <section>
      <div class="aboutus__image--wrap">
        <img class="aboutus--image" src="{% static 'img/accounts/aboutus_discord_02.png' %}" alt="수지">
        <h4><h5>감지망지</h5></h4>
      </div>
      <ul>
        <li>감수지</li>
        <li>BACKEND</li>
        <li>ISTP</li>
        <li><a href="https://github.com/SoozieKam">https://github.com/SoozieKam</a></li>
        <li><a href="https://together.kakao.com/big-five/summary/2280360">BIG5 성격검사</a></li>
      </ul>
    </section>
    <section>
      <div class="aboutus__image--wrap">
        <img class="aboutus--image" src="{% static 'img/accounts/aboutus_discord_03.png' %}" alt="민지">
        <h4>뭉지망지</h4>
      </div>
      <ul>
        <li class="mung--name"><h5>장민지</h5><img class="mung--image" src="{% static 'img/accounts/pinocchio.png' %}" alt="피노키오" title="마음예쁜 피노키오"></li>
        <li>BACKEND</li>
        <li>ISFP(J)</li>
        <li><https: href="https://github.com/mungjimangji">https://github.com/mungjimangji</a></li>
        <li><https: href="https://together.kakao.com/big-five">BIG5 성격검사</a></li>
      </ul>
    </section>
    <section>
      <div class="aboutus__image--wrap">
        <img class="aboutus--image" src="{% static 'img/accounts/aboutus_discord_04.png' %}" alt="원태">
        <h4>탱지망지</h4>
      </div>
      <ul>
        <li><h5>한원태</h5></li>
        <li>BACKEND</li>
        <li>ISFP</li>
        <li><https: href="https://github.com/dnjsxo0616">https://github.com/dnjsxo0616</a></li>
        <li><https: href="https://together.kakao.com/big-five/summary/18016507">BIG5 성격검사</a></li>
        <li></li>
      </ul>
    </section>
    <section>
      <div class="aboutus__image--wrap">
        <img class="aboutus--image" src="{% static 'img/accounts/aboutus_discord_05.png' %}" alt="미영">
        <h4>묭지망지</h4>
      </div>
      <ul>
        <li><h5>정미영</h5></li>
        <li>FRONTEND</li>
        <li>INTP</li>
        <li><a href="https://github.com/qloeo">https://github.com/qloeo</a></li>
        <li><a href="https://together.kakao.com/big-five/summary/28211106">BIG5 성격검사</a></li>
      </ul>
    </section>
    <section>
      <div class="aboutus__image--wrap">
        <h4>도움주신 분들</h4>
      </div>
      <ul class="point--user--list">
        <li>정소담<span class="point--box point--user--1"></span></li>
        <li>문지수<span class="point--box point--user--2"></span>
        </li>
        <li>박현준<span class="point--box point--user--3"></span></li>
        <li>안정환<span class="point--box point--user--4"></span></li>
      </ul>
    </section>
  </div>
</article>
{% endblock content %}

{% block script %}{% endblock script %}