{% extends 'base.html' %}
{% load static %}

{% block title %}비밀번호 변경{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/update.css' %}">
{% endblock style %}  

{% block content %}
<article>
  <img src="{% static 'img/accounts/cidia_changepw_01.png' %}" alt="">
  <img src="{% static 'img/accounts/cidia_changepw_02.png' %}" alt="">
  <div>
    <form action="{% url 'accounts:change_password' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="비밀번호 변경">
    </form>
  </div>
</article>
 
{% endblock content %}

{% block script %}{% endblock script %}