{% extends 'base.html' %}
{% load static %}
{% block title %}로그인{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
{% endblock style %}  

{% block content %}
<article class="main--login--container">
  <section>
    <div class="main--logo--wrap">
      {% comment %} <img class="main--logo--image" src="{% static 'img/accounts/cidia_login_nocircle_01.png' %}" alt=""> {% endcomment %}
      <h1 class="login--title">LOG IN</h1>
      <div class="main--social--list" style="display: none;">
        <div class="main--social--wrap">
          <a href="#">
            <img class="social--image" src="{% static 'img/accounts/login_naver.png' %}" alt="">
          </a>
        </div>
        <div class="main--social--wrap">
          <a href="#">
            <img class="social--image" src="{% static 'img/accounts/login_kakao_m.png' %}" alt="">
          </a>
        </div>
        <div class="main--social--wrap">
          <a href="#">
            <img class="social--image" src="{% static 'img/accounts/login_google.png' %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="main--login--form--wrap">
    <form action="{% url 'accounts:login' %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="good--border" type="submit" value="로그인">
    </form>
  </section>
  <section class="sm--main--social--list" style="display:none;">
    <div class="main--social--wrap">
      <a href="#">
        <img class="social--image" src="{% static 'img/accounts/login_naver.png' %}" alt="">
      </a>
    </div>
    <div class="main--social--wrap">
      <a href="#">
        <img class="social--image" src="{% static 'img/accounts/login_kakao_m.png' %}" alt="">
      </a>
    </div>
    <div class="main--social--wrap">
      <a href="#">
        <img class="social--image" src="{% static 'img/accounts/login_google.png' %}" alt="">
      </a>
    </div>
  </section>
</article>
{% endblock content %}

{% block script %}{% endblock script %}