{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ person.username }}님의 프로필
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/profile.css' %}">
{% endblock style %}  

{% block content %}
<article class="mypage--container">
  <h2 class="mypage--title">{{ person.username }}님의 프로필 페이지</h2>
  <section class="profile--container">
    <div class="profile--wrap">
      <div>
        {% if person.image %}
        <img class="profile--image" src="{{ person.image.url }}" alt="">
        {% else %}
        <img class="profile--image" src="{% static 'img/accounts/cidia_profile_noimage_02.png' %}" alt="">
        {% endif %}
      </div>
      <div class="profile--list--wrap">
        <ul class="profile--list">
          <li>
            <p>이름</p>
            <p>{{ person.first_name }}</p>
          </li>
          <li>
            <p>생일</p>
            <p>{{ person.birthday|date:"Y년 m월 d일" }}</p>
          </li>
          <li>
            <p>이메일</p>
            <p>{{ person.email }}</p>
          </li>
          <li>
            <a class="good--button" href="{% url 'accounts:update'%}">회원정보 수정</a>
          </li>
        </ul>
      </div>
      {% comment %} 팔로워 팔로우 모달창 시작!! {% endcomment %}
      <div>
        {% comment %} 팔로워 모달 버튼 {% endcomment %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#followersModal">
          <span id="followers-count">{{ person.followers.all|length }}</span> 팔로워
        </button>
        {% comment %} 팔로잉 모달 버튼 {% endcomment %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#followingsModal">
          <span id = "followings-count">{{ person.followings.all|length }}</span> 팔로잉 
        </button>
        {% comment %} 팔로워 Modal {% endcomment %}
        <div class="modal fade" style="z-index: 99999;" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="followersModalLabel">팔로워</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% for follower in person.followers.all %}
                  <span>{{ follower }}</a></span>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% comment %} 팔로우 Modal {% endcomment %}
        <div class="modal fade" style="z-index: 99999;" id="followingsModal" tabindex="-1" aria-labelledby="followingsModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="followingsModalLabel">팔로잉</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% for following in person.followings.all %}
                  <span>{{ following }}</span>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        {% comment %} <form id="follow-form" data-user-id="{{ person.pk }}">
          {% csrf_token %}
          {% if request.user in person.followers.all %}
            <input type="submit" value="언팔로우">
          {% else %}
            <input type="submit" value="팔로우">
          {% endif %}
        </form> {% endcomment %}
      </div>
    </div>
  </section>
  <section class="my-3">
    <h4>{{ person.username }}님의 Tag</h4>
    {% for tag in new_tags %}
    <span class="badge rounded-pill text-bg-light" >{{tag}}</span>
    {% endfor %}
    
  </section>
  <section>
    <h4>{{ person.username }}님이 선택한 태그 기준으로 영화 추천</h4>
    <div class="row">
        {% for movie, tag in tag_dict.items %}
            <div class="col-3">
                <p>"{{tag}}"</p>
                  <a href="{% url 'movies:detail' movie.movie_id %}">
                    <div>
                      {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="{{movie.title}}">
                      {% else %}
                        <p>포스터 없을 경우 static에 대체 이미지 넣기 </p>
                      {% endif %}
                    </div>
                    <div>
                      <p class="text-center">{{movie.title}}</p>
                    </div>
                  </a>
            </div>     
          {% endfor %}
              
    </div>
  </section>

  <section>
    <h4>My Reviews</h4>
    <table class="table" style="color:#fff;">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">영화제목</th>
          <th scope="col">내용</th>
          <th scope="col">Tags</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>
      <tbody>
      {% for review in reviews %}
        <tr>
          <th scope="row">{{ review.post.pk }}</th>
          <td>{{ review.post.movie_id }}</td>
          <td>{{ review.content }}</td>
          <td>{% for tag in review.tags %}
            <span>{{ tag }}</span>
             {% endfor %}
          </td>
          <td>{{ review.created_at|date:"Y년 m월 d일 H:i" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
  {% if request.user.is_superuser %}
  <section>
    <h2>신고 댓글</h2>
    {% for review_report in review_reports %}
        <div>
            <p>{{ review_report.user }}</p>
            <p>{{ review_report.content }}</p>
        </div>
    {% endfor %} 
  </section>
  {% endif %}
</article>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const userId = event.target.dataset.userId

    axios({
      method: 'post',
      url: `/accounts/follow/${userId}/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {
        const isFollowed = response.data.is_followed
        const followBtn = document.querySelector('#follow-form > input[type=submit]')
        if (isFollowed === true) {
          followBtn.value = '언팔로우'
        } else {
          followBtn.value = '팔로우'
        }

        const followingsCountTag = document.querySelector('#followings-count')
        const followersCountTag = document.querySelector('#followers-count')

        const followingsCountData = response.data.followings_count
        const followersCountData = response.data.followers_count

        followingsCountTag.textContent = followingsCountData
        followersCountTag.textContent = followersCountData
      

      })
  })
</script>

{% endblock script %}