{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ person.username }}님의 프로필
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/profile.css' %}">
{% endblock style %}  

{% block content %}
<article class="mypage--container">
  <h2 class="mypage--title">{{ person.username }}님의 프로필 페이지</h2>
  <section class="profile--container">
    <div class="profile--wrap">
      <div>
        {% if person.image %}
        <img class="profile--image" src="{{ person.image.url }}" alt="">
        {% else %}
        <img class="profile--image" src="{% static 'img/accounts/cidia_profile_noimage_02.png' %}" alt="">
        {% endif %}
      </div>
      <div class="profile--list--wrap">
        <ul class="profile--list">
          <li>
            <p>이름</p>
            <p>{{ person.first_name }}</p>
          </li>
          <li>
            <p>생일</p>
            <p>{{ person.birthday|date:"Y년 m월 d일" }}</p>
          </li>
          <li>
            <p>이메일</p>
            <p>{{ person.email }}</p>
          </li>
          <li>
            <a class="good--button" href="{% url 'accounts:update'%}">회원정보 수정</a>
          </li>
        </ul>
      </div>
      <div>
        팔로워 - <span id="followings-count">{{ person.followers.all|length }}</span>
        팔로잉 - <span id="followers-count">{{ person.followings.all|length }}</span>
        <form id="follow-form" data-user-id="{{ person.pk }}">
          {% csrf_token %}
          {% if request.user in person.followers.all %}
            <input type="submit" value="언팔로우">
          {% else %}
            <input type="submit" value="팔로우">
          {% endif %}
        </form>
      </div>
    </div>
  </section>
  <section>
    <!-- 앗 여기 회원가입할때 태그받는다 했는데, 아직 구현 안한거군요! -->
    <h3>{{ person.username }}님이 선택한 Tag</h3>
    <ul>
      <li></li>
    </ul>
  </section>
  <section>
    <h3>{{ person.username }}님이 선택한 태그 기준으로 영화 추천</h3>
  </section>
  <section>
    <h3>My Reviews</h3>
    <table class="table" style="color:#fff;">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">영화제목</th>
          <th scope="col">내용</th>
          <th scope="col">Tags</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>
      <tbody>
      {% for review in reviews %}
        <tr>
          <th scope="row">{{ review.post.pk }}</th>
          <td>{{ review.post.movie_id }}</td>
          <td>{{ review.content }}</td>
          <td>{% for tag in review.tags %}
            <span>{{ tag }}</span>
             {% endfor %}
          </td>
          <td>{{ review.created_at|date:"Y년 m월 d일 H:i" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>
  {% if request.user.is_superuser %}
  <section>
    <h2>신고 댓글</h2>
    {% for review_report in review_reports %}
        <div>
            <p>{{ review_report.user }}</p>
            <p>{{ review_report.content }}</p>
        </div>
    {% endfor %} 
    {% for report in review_reports %}
      <p>Review {{ report.review }} has {{ report.count }} reports.</p>
      <ul>
          {% for r in report.reviews_report.all %}
              <li>{{ r.title }}: {{ r.content }}</li>
          {% endfor %}
      </ul>
  {% endfor %}
  </section>
  {% endif %}
</article>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const userId = event.target.dataset.userId

    axios({
      method: 'post',

      url: `/accounts/follow/${userId}/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {
        const isFollowed = response.data.is_followed
        const followBtn = document.querySelector('#follow-form > input[type=submit]')
        if (isFollowed === true) {

          followBtn.value = '언팔로우'
        } else {
          followBtn.value = '팔로우'
        }

        const followingsCountTag = document.querySelector('#followings-count')
        const followersCountTag = document.querySelector('#followers-count')

        const followingsCountData = response.data.followings_count
        const followersCountData = response.data.followers_count

        followingsCountTag.textContent = followingsCountData
        followersCountTag.textContent = followersCountData
          followBtn = '언팔로우'
        } else {
          followBtn = '팔로우'
        }

      })
  })
</script>

{% endblock script %}