{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ person.username }}님의 프로필
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts/profile.css' %}">
{% endblock style %}

{% block content %}
<article class="mypage--container">
  <h1 class="mypage--title">{{ person.username }}님의 프로필 페이지</h1>
  <div class="profile--update--wrap">
    <a class="cidia--text--button2 profile--update" href="{% url 'accounts:update'%}">회원정보 수정<i class="bi bi-person-fill-gear"></i></a>
  </div>
  <div class="mypage--section--container">
    <section class="profile--container">
      {% comment %} <h4>내 정보</h4>  {% endcomment %}
      <div class="profile--wrap">
      <div class="profile--item1 profile--image--follow--list">
        {% if person.image %}
        <p><img class="profile--image" src="{{ person.image.url }}" alt=""></p>
        {% else %}
        <p class="profile--noimage"><i class="bi bi-person-circle"></i></p>
        {% endif %}
        <div class="profile--fllow--wrap">
          {% comment %} 팔로워 팔로우 모달창 시작!! {% endcomment %}
          <div>
            {% comment %} 팔로워 모달 버튼 {% endcomment %}
            <p>
              <button type="button" class="" data-bs-toggle="modal" data-bs-target="#followersModal">
                <span id="followers-count" title="나를 좋아하는 사람">FOLLOWER<i style="color: #c8c0e2;"> {{ person.followers.all|length }}</i></span>
              </button>
            </p>
            {% comment %} 팔로잉 모달 버튼 {% endcomment %}
            <p>
              <button type="button" class="" data-bs-toggle="modal" data-bs-target="#followingsModal">
                <span id = "followings-count" title="내가 좋아하는 사람">FOLLOWING<i style="color: #c8c0e2;"> {{ person.followings.all|length }}</i></span>
              </button>
            </p>
            {% comment %} 팔로워 Modal {% endcomment %}
            <div class="modal fade" style="z-index: 99999;" id="followersModal" tabindex="-1" aria-labelledby="followersModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title" id="followersModalLabel" title="나를 좋아하는 사람">FOLLOWER</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" id="followersModalBody">
                    {% if request.user == person %}
                      {% for follower in person.followers.all %}
                        <div class="modal--follow--wrap">
                          <a href="{% url 'accounts:profile' follower.username %}">
                            {% if follower.image %}
                              <div>
                                <img class="modal--profile--image" src="{{ follower.image.url }}" alt="">
                              </div>
                            {% else %}
                              <div>
                                <img class="modal--profile--image" src="{% static 'img/accounts/cidia_profile_noimage_02.png' %}" alt="">                          </div>
                            {% endif %}
                            <div class="modal--textarea">
                              <span>{{ follower }}</span>
                            </div>
                          </a>
                        </div>
                      {% endfor %}
                    {% else %}
                      <div id="followers-list"></div>
                    {% endif %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% comment %} 팔로우 Modal {% endcomment %}
            <div class="modal fade" style="z-index: 99999;" id="followingsModal" tabindex="-1" aria-labelledby="followingsModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title" id="followingsModalLabel" title="내가 좋아하는">FOLLOWING</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    {% for following in person.followings.all %}
                      <div class="modal--follow--wrap">
                        <a href="{% url 'accounts:profile' following.username %}">
                          {% if following.image %}
                            <div>
                              <img class="modal--profile--image" src="{{ following.image.url }}" alt="">
                            </div>
                          {% else %}
                            <div>
                              <img class="modal--profile--image" src="{% static 'img/accounts/cidia_profile_noimage_02.png' %}" alt="">
                            </div>
                          {% endif %}
                          <div class="modal--textarea">
                            <span>{{ following }}</span>
                          </div>
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% comment %} 팔로우 버튼 {% endcomment %}
            {% if request.user != person %}
              <div>
                <form id="follow-form" data-user-id="{{ person.pk }}">
                  {% csrf_token %}
                  {% if request.user in person.followers.all %}
                    <input type="submit" value="Unfollow">
                  {% else %}
                    {% if request.user.is_authenticated %}
                      <i class="bi bi-person-add">
                        <input type="submit" value="FOLLOW">
                      </i>
                    {% else %}
                      <i class="bi bi-person-dash">
                        <input type="submit" value="FOLLOW" disabled>
                      </i>
                    {% endif %}
                  {% endif %}
                </form>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="profile--item2 profile--list--wrap">
        <h5 class="profile--list--title">내 정보</h5>
        <ul class="profile--list">
          <li>
            <p>ID</p>
            <p>{{ person.username }}</p>
          </li>
          <li>
            <p>이름</p>
            <p>{{ person.first_name }}</p>
          </li>
          <li>
            <p>생일</p>
            <p>{{ person.birthday|date:"Y년 m월 d일" }}</p>
          </li>
          <li>
            <p>이메일</p>
            <p>{{ person.email }}</p>
          </li>
        </ul>
      </div>
      <div class="profile--item3 profiile--my--list--wrap">
        {% if request.user.is_superuser %}
        {% else %}
          <div class="">
            <h5 class="profile--list--title">{{ person.username }}님의 태그</h5>
            {% for tag in new_tags %}
            <p class="my--list--button--wrap"><span class="tag--botton--border--mypage" ><i class="bi bi-vinyl-fill"></i>{{tag}}</span></p>
            {% endfor %}
          </div>
        {% endif %}
        <div>
          <h5 class="profile--list--title">보고싶은 영화</h5>
          {% for want_post in person.want_posts.all %}
            <a href="{% url 'movies:detail' want_post.movie_id %}">
              <p><i class="bi bi-film" style="color:#a182ff;"></i> {{ want_post.title}}</p>
            </a>
          {% endfor %}
        </div>
      </div>
      </div>
    </section>
    {% if request.user.is_superuser %}
    {% else %}
    <section class="recommend_container">
      <div class="Profile__RecommendBox">
        <h4>태그별 영화 추천</h4>
        <div class="my--movie--list">
          {% for movie, tag in tag_dict.items %}
            <div class="">
              <p class="my--movie--button--wrap"><span class="tag--botton--border--mypage--big" ><i class="bi bi-vinyl-fill"></i>{{tag}}</span></p>
              <a href="{% url 'movies:detail' movie.movie_id %}">
                <div>
                  <p style="width: 200px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;">{{movie.title}}</p>
                </div>
                <div>
                  {% if movie.poster_path %}
                    <img src="https://image.tmdb.org/t/p/w200{{movie.poster_path}}" alt="{{movie.title}}">
                  {% else %}
                    <img style="width:200px;" src="{% static 'img/accounts/no_poster.png' %}" alt="기본 영화 포스터">
                  {% endif %}
                </div>
              </a>
            </div>     
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}


    <section class="my--reviews--container">
      <div class="Profile__ReviewBox">
        <h4 class="">내가 쓴 리뷰</h4>

        <table class="table" style="color:#fff;">
          <thead>
            <tr style="color:#c8c0e2; border-bottom:3px solid #c8c0e2;">
              <th scope="col">No.</th>
              <th scope="col">영화제목</th>
              <th scope="col">내용</th>
              <th scope="col">Tags</th>
              <th scope="col">작성일</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for review in my_reviews %}
            {% if review.reviewreports.exists %}
            <tr style="color: red;">
            {% else %}
            <tr style="font-size:0.9rem; border-bottom:1px solid #c8c0e2;">
            {% endif %}
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ review.post.title }}</td>
              <td>{{ review.content }}</td>
              <td>{% for tag in review.tags %}
              <span>{{tag}}</span>
                {% endfor %}
              </td>
              <td>{{ review.created_at|date:"Y. m. d" }}</td>
              <td style="color: #000000;">


                {% if review.reviewreports.exists %}
                <!-- 관리자메세지 -->
                <button type="button" class="" data-bs-toggle="modal" data-bs-target="#adminmessage{{ forloop.counter }}" style="color: red;">
                  !
                </button>
                {% else %}
                <a href="{% url 'movies:detail' movie_id=review.post.movie_id %}">이동</a>
                {% endif %}

                <!-- Modal -->
                <div class="modal fade" id="adminmessage{{ forloop.counter }}" tabindex="-1" aria-labelledby="adminmessageLabel{{ forloop.counter }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="adminmessageLabel{{ forloop.counter }}">다른 유저로 부터 {{ review.reviews_report.all|length }}건의 신고가 접수되었습니다.</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">                      
                        <p><strong>사유</strong> : 
                          {% for review_report in review.reviews_report.all %}
                            {% if not review_report.tilte.exists %}
                              ({{ review_report.title }})
                            {% endif %}
                          {% endfor %}
                        </p>
                        <br>
                        <p><strong>리뷰 내용</strong>: {{ review.content }}</p>
                        <br>
                        {% for adminmessage in review.reviewreports.all %}
                          <p>{{ adminmessage.content }}</p>
                        {% endfor %}
                      </div>
                      <div class="modal-footer">
                        <a href="{% url 'movies:review_update' review.post.movie_id review.pk %}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">수정</button></a>
                        <a href="{% url 'movies:review_delete' review.post.movie_id review.pk %}" onclick="return confirm('삭제하시겠습니까?')"><button type="button" class="btn btn-primary">삭제</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>

    
    {% if request.user.is_superuser %}
    <section class="reports_container">
      <div class="Profile__ReportBox">
        <h4>신고 댓글</h4>
        <table class="table" style="color:#fff;">
          <thead>
            <tr style="color:#cc0000; border-bottom: 3px solid #aa0000;">
              <th scope="col">No.</th>
              <th scope="col">신고자</th>
              <th scope="col">신고대상</th>
              <th style="width: 40%;" scope="col">신고내용</th>
              <th scope="col">사유</th>
              <th scope="col">작성일</th>
              <th scope="col">접수내용</th>
            </tr>
          </thead>
          <tbody>
            {% for review_report in review_reports %}
            <tr style="border-bottom: 1px solid #aa0000;">
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ review_report.user }}</td>
              <td>{{ review_report.review.user }}</td>
              <td >
                <p style="width: 100px; white-space: nowrap; overflow: hidden; text-overflow:ellipsis">{{ review_report.content }}</p>
              </td>
              <td>{{ review_report.title }}</td>
              <td>{{ review_report.created_at|date:"Y. m. d" }}</td>
              <td>
                <!-- 신고리뷰 보기 -->
                <button type="button" data-bs-toggle="modal" data-bs-target="#reportReview{{ forloop.counter }}" style="height: 25px;">
                  <span class="mypage--report--button">확인하기</span>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="reportReview{{ forloop.counter }}" tabindex="-1" aria-labelledby="reportReviewLabel{{ forloop.counter0 }}" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="reportReviewLabel{{ forloop.counter }}">{{ review_report.review.post.title }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <ul class="report--modal--list">
                          <li class="report--modal--textarea--wrap">
                            <h6 class="report--modal--text--title">작성자</h6>
                            <p class="report--modal--textarea">{{ review_report.review.user }}</p>
                          </li>
                          <li class="report--modal--textarea--wrap">
                            <h6 class="report--modal--text--title">작성일자</h6>
                            <p class="report--modal--textarea">{{review_report.review.created_at|date:"Y년 m월 d일 H:i"}}</p>
                          </li>
                          <li class="report--modal--textarea--content--wrap">
                            <h6 class="report--modal--text--title">리뷰내용</h6>
                            <p class="report--modal--textarea">{{ review_report.review.content }}</p>
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <div class="dropdown">
                          <button class="dropdown-toggle mypage--report--button--good" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>처리하기</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li class="dropdown-item">
                              <!-- 경고 메시지 modal -->
                              <button type="button" data-bs-toggle="modal" data-bs-target="#admin_message{{ forloop.counter }}">
                                작성자에게 메시지 보내기
                              </button>
                            </li>
                            <li>
                              <form class="dropdown-item" action="{% url 'movies:review_delete' review_report.review.post.movie_id review_report.review.pk %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" style="color: red;">리뷰 삭제하기</button>
                              </form>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <!-- 경고메시지 modal -->
            <div class="modal fade" id="admin_message{{ forloop.counter }}" tabindex="-1" aria-labelledby="admin_messageLabel{{ forloop.counter }}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="admin_messageLabel{{ forloop.counter }}">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action="{% url 'accounts:profile' username=person.username %}" method="post">
                      {% csrf_token %}
                      {{ form.content }}
                      <input type="hidden" name="review_id" value="{{ review_report.review.id }}">
                      <button type="submit" class="btn btn-danger">신고하기</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    {% endif %}
    
  </div>
</article>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const followersModalBtn = document.querySelector('#followersModal');
  followersModalBtn.addEventListener('shown.bs.modal', function (event) {
    const userId = document.querySelector('#follow-form').dataset.userId
    axios.get(`/accounts/follower/${userId}/`)
      .then((response) => {
        const followers = response.data.followers
        const followersList = document.querySelector('#followers-list')
        followersList.className = ""
        followersList.innerHTML = ''
        followers.forEach(follower => {
          const followerTag = document.createElement('div')
          followerTag.classList.add()
          const followerLink = document.createElement('a')
          followerLink.classList.add()
          followerLink.href = `/accounts/profile/${follower.username}`
          const followerImageDiv = document.createElement('div')
          followerImageDiv.classList.add()
          if (follower.image) {
            const followerImage = document.createElement('img')
            followerImage.classList.add()
            followerImage.src = follower.image.url
            followerImage.alt = `${follower.username}'s profile image`
            followerImageDiv.appendChild(followerImage)
          } else {
            const followerImage = document.createElement('img')
            followerImage.classList.add("modal--profile--image")
            followerImage.src = "/static/img/accounts/cidia_profile_noimage_02.png"
            followerImage.alt = "profile_image_none"
            followerImageDiv.appendChild(followerImage)
          }
          followerLink.appendChild(followerImageDiv)
          const followerName = document.createElement('span')
          followerName.textContent = follower.username
          followerLink.appendChild(followerName)
          followerTag.appendChild(followerLink)
          followersList.appendChild(followerTag)
        })
      })
  })
  


  const form = document.querySelector('#follow-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  const followersList = document.querySelector('#followers-list')
  
  followersList.className = "row"

  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const userId = event.target.dataset.userId

    axios({
      method: 'post',
      url: `/accounts/follow/${userId}/`,
      headers: {'X-CSRFToken': csrftoken},
    })
      .then((response) => {
        const isFollowed = response.data.is_followed
        const followBtn = document.querySelector('#follow-form > input[type=submit]')
        if (isFollowed === true) {
          followBtn.value = 'Unfollow'
        } else {
          followBtn.value = 'follow'
        }

        const followingsCountTag = document.querySelector('#followings-count')
        const followersCountTag = document.querySelector('#followers-count')

        const followingsCountData = response.data.followings_count
        const followersCountData = response.data.followers_count

        followingsCountTag.textContent = followingsCountData
        followersCountTag.textContent = followersCountData
        
        // 팔로워 목록 출력
        
      })
  })
  
</script>

{% endblock script %}