{% extends 'base.html' %}
{% load static %}

{% block title %}회원가입{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/signup.css' %}">
{% endblock style %}  

{% block content %}
<article class="main__siginup--container">
  <section class="main__signup--image--wrap">
    <img class="main__signup--image" src="{% static 'img/accounts/cidia_signup_nocircle_01.png' %}" alt="">
    <p class="main__signup--text">내 취향에 맞는 영화를 찾아보세요!</p>
    <ul class="main__siginup__ott--list">
      <li class="ott--image--wrap">
        <img class="ott--image" src="https://www.gnnews.co.kr/news/photo/201811/343582_102326_2141.jpg" alt="">
      </li>
      <li class="ott--image--wrap">
        <img class="ott--image" src="https://img.etnews.com/photonews/2108/1442171_20210809174226_463_0001.jpg" alt="">
      </li>
      <li class="ott--image--wrap">
        <img class="ott--image" src="https://image.newdaily.co.kr/site/data/img/2021/03/03/2021030300004_0.png" alt="">
      </li>
      <li class="ott--image--wrap">
        <img class="ott--image" src="https://www.jeonmae.co.kr/news/photo/202211/922309_613195_74.jpg" alt="">
      </li>
    </ul>
  </section>
  
  <section class="main__signup__form--container">
    <div class="main__signup__form--wrap">
      <form class="main__signup__form" action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        

        {{ form.username }}
        {{ form.password1 }}
        {{ form.password2 }}
        {{ form.first_name }}
        {{ form.birthday }}
        {{ form.email }}
        {{ form.image }}

        <div class="mb-3 main Review__TagBox">
          <div class="Review__Tag Category">
            <button type="button"><div id="cateGory1" class="Review__Category" data-filter="컨셉 & 아이디어">컨셉 & 아이디어</div></button>
            <button type="button"><div id="cateGory2" class="Review__Category" data-filter="작품성">작품성</div></button>
            <button type="button"><div id="cateGory3" class="Review__Category" data-filter="캐릭터">캐릭터</div></button>
            <button type="button"><div id="cateGory4" class="Review__Category" data-filter="감상평">감상평</div></button>
            <button type="button"><div id="cateGory5" class="Review__Category" data-filter="감독 & 연출">감독 & 연출</div></button>
            <button type="button"><div id="cateGory6" class="Review__Category" data-filter="스토리 & 구성">스토리 & 구성</div></button>
            <button type="button"><div id="cateGory7" class="Review__Category" data-filter="편집 & 각본">편집 & 각본</div></button>
            <button type="button"><div id="cateGory8" class="Review__Category" data-filter="시각 & 음향">시각 & 음향</div></button>
            <button type="button"><div id="cateGory9" class="Review__Category" data-filter="클라이맥스 & 결말">클라이맥스 & 결말</div></button>
          </div>
          {% for tag in form.tags|slice:":6" %}
            <div class="Review__TagList 컨셉&아이디어">
              <label class="tag-label">
                {{ tag }}
              </label>
            </div>
          {% endfor %}

          {% for tag in form.tags|slice:"6:18" %} 
            <div class="Review__TagList 작품성">
              <label data-Tag="" class="tag-label">
                {{ tag }}
              </label>
            </div>     
          {% endfor %}

          {% for tag in form.tags|slice:"18:29" %}
            <div class="Review__TagList 캐릭터">
              <label class="tag-label">
                {{ tag }}
              </label>
            </div> 
          {% endfor %}

          {% for tag in form.tags|slice:"29:41" %}
            <div class="Review__TagList 감상평">
              <label class="tag-label">
                {{ tag }}
              </label>
            </div> 
          {% endfor %}

          {% for tag in form.tags|slice:"41:51" %}
            <div class="Review__TagList 감독&연출">
              <label class="tag-label">
                {{ tag }}
              </label>            
            </div>
          {% endfor %}

          {% for tag in form.tags|slice:"51:65" %}
            <div class="Review__TagList 스토리&구성">
              <label class="tag-label">
                {{ tag }}
              </label>
            </div> 
          {% endfor %} 

          {% for tag in form.tags|slice:"65:72" %}
            <div class="Review__TagList 편집&각본">
              <label class="tag-label">
                {{ tag }}
              </label>
            </div>
          {% endfor %}

          {% for tag in form.tags|slice:"72:82" %}
            <div class="Review__TagList 시각&음향">
              <label class="tag-label">
                {{ tag }}
              </label>
            </div>
          {% endfor %}

          {% for tag in form.tags|slice:"82:91" %}
            <div class="Review__TagList 클라이맥스&결말">
              <label class="tag-label">
                {{ tag }}
              </label>
            </div>
          {% endfor %}
          <hr>
          <div class="d-flex flex-row" style="padding: 15px;">
            <p>선택된 태그 : </p>
            <div class="d-flex Tag__Select" style="margin-left: 10px;">
              {{ selecttag }}
            </div>
          </div>
        </div>

        <input class="good" type="submit" value="회원가입">
      </form>
    </div>
  </section>
  <section class="sm--ott--list--container">
    <ul class="sm__ott--list">
      <li class="ott--image--wrap">
        <img class="ott--image" src="https://www.gnnews.co.kr/news/photo/201811/343582_102326_2141.jpg" alt="">
      </li>
      <li class="ott--image--wrap">
        <img class="ott--image" src="https://img.etnews.com/photonews/2108/1442171_20210809174226_463_0001.jpg" alt="">
      </li>
      <li class="ott--image--wrap">
        <img class="ott--image" src="https://image.newdaily.co.kr/site/data/img/2021/03/03/2021030300004_0.png" alt="">
      </li>
      <li class="ott--image--wrap">
        <img class="ott--image" src="https://www.jeonmae.co.kr/news/photo/202211/922309_613195_74.jpg" alt="">
      </li>
    </ul>
  </section>
</article>
{% endblock content %}

{% block script %}

  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      // Code that runs on page load
      // Trigger button click event
      $('#cateGory1').trigger('click');
    });

   
    // 색 변경(기본 값)
    document.getElementById("cateGory1").style.color = '#ffffff'
    document.getElementById("cateGory1").parentNode.style.borderBottom = '2px solid #ffffff';

    // 컨셉 & 아이디어 버튼 클릭 시
    document.getElementById("cateGory1").addEventListener("click", function() {
      setButtonColor("cateGory1");
      showTags("컨셉&아이디어");
    });

    // 작품성 버튼 클릭 시
    document.getElementById("cateGory2").addEventListener("click", function() {
      setButtonColor("cateGory2");
      showTags("작품성");
    });

    // 캐릭터 버튼 클릭 시
    document.getElementById("cateGory3").addEventListener("click", function() {
      setButtonColor("cateGory3");
      showTags("캐릭터");
    });

    // 감상평 버튼 클릭 시
    document.getElementById("cateGory4").addEventListener("click", function() {
      setButtonColor("cateGory4");
      showTags("감상평");
    });

    // 감독 & 연출 버튼 클릭 시
    document.getElementById("cateGory5").addEventListener("click", function() {
      setButtonColor("cateGory5");
      showTags("감독&연출");
    });

    // 스토리 & 구성 버튼 클릭 시
    document.getElementById("cateGory6").addEventListener("click", function() {
      setButtonColor("cateGory6");
      showTags("스토리&구성");
    });

    // 편집 & 각본 버튼 클릭 시
    document.getElementById("cateGory7").addEventListener("click", function() {
      setButtonColor("cateGory7");
      showTags("편집&각본");
    });

    // 시각 & 음향 버튼 클릭 시
    document.getElementById("cateGory8").addEventListener("click", function() {
      setButtonColor("cateGory8");
      showTags("시각&음향");
    });

    // 클라이맥스 & 결말 버튼 클릭 시
    document.getElementById("cateGory9").addEventListener("click", function() {
      setButtonColor("cateGory9");
      showTags("클라이맥스&결말");
    });

    // 버튼 색상 설정 함수
    function setButtonColor(activeButtonId) {
      var buttonIds = [
          "cateGory1", 
          "cateGory2", 
          "cateGory3", 
          "cateGory4", 
          "cateGory5", 
          "cateGory6", 
          "cateGory7", 
          "cateGory8", 
          "cateGory9"
        ];
      var activeColor = '#ffffff';
      var inactiveColor = '#9b9b9b';
      var activeBorderColor = '2px solid #ffffff';
      var inactiveBorderColor = 'none';

      buttonIds.forEach(function(buttonId) {
        var button = document.getElementById(buttonId);
        var buttonParent = button.parentNode;
        button.style.color = (buttonId === activeButtonId) ? activeColor : inactiveColor;
        buttonParent.style.borderBottom = (buttonId === activeButtonId) ? activeBorderColor : inactiveBorderColor;
      });
    }

    // 필터별 리뷰 출력 함수
    function showTags(Tags) {
      var tagItems = document.getElementsByClassName("Review__TagList");

      // 모든 리뷰 아이템 숨기기
      for (var i = 0; i < tagItems.length; i++) {
        tagItems[i].style.display = 'none';
      }

      // 해당 분류의 리뷰 아이템 보여주기
      var targetItems = document.getElementsByClassName(Tags);
      for (var j = 0; j < targetItems.length; j++) {
        targetItems[j].style.display = 'flex';
        var parentDiv = targetItems[j].parentNode;
        parentDiv.style.display = 'block';
      }
    }

    document.addEventListener("DOMContentLoaded", function() {
      // Review__TagList 요소를 찾아서 할당
      const tagList = document.querySelector('.Review__TagList');
      // Review__TagList 요소 내의 input[type="checkbox"] 요소들을 모두 찾아서 할당
      const tagInputs = tagList.querySelectorAll('input[type="checkbox"]');
      // Tag__Select 요소를 찾아서 할당
      const tagSelect = document.querySelector('.Tag__Select');
  
      // 각 체크박스에 대한 변경 이벤트 리스너 등록
      tagInputs.forEach(function(tagInput) {
        tagInput.addEventListener('change', function() {
          // 선택된 체크박스들을 필터링하여 선택된 태그들을 추출하여 배열로 저장
          const selectedTags = Array.from(tagInputs)
            .filter(function(input) {
              return input.checked;
            })
            .map(function(input) {
              return input.value;
            });
  
          // 선택된 태그들을 쉼표로 구분한 문자열로 설정하여 Tag__Select 요소 내에 업데이트
          tagSelect.innerHTML = selectedTags.join(', ');
        });
      });
    });


  </script>
{% endblock script %}