
.aboutus__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr); 
  grid-template-columns: repeat(6, 1fr);
  
}
.aboutus--item1 {
  grid-column: span 3;
}
.aboutus--item2 {
  grid-column: span 3;
}
.aboutus--item3 {
  grid-column: span 2;
}
.aboutus--item4 {
  grid-column: span 2;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.aboutus--item5 {
  grid-column: span 2;
}
.aboutus--item6 {
  grid-column: span 3;
}
.aboutus--item7 {
  grid-column: span 3;
}

@media screen and (max-width: 1450px) { 
  .aboutus__list {
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    grid-template-columns: repeat(6, 1fr);
    
  }
  .aboutus--item1 {
    grid-column: span 3;
    order: 5;
  }
  .aboutus--item2 {
    grid-column: span 3;
    order: 4;
  }
  .aboutus--item3 {
    grid-column: span 3;
    order: 3;
  }
  .aboutus--item4 {
    grid-column: span 3;
    order: 6; 
  }
  .aboutus--item5 {
    grid-column: span 3;
    order: 1;
  }
  .aboutus--item6 {
    grid-column: span 3;
    order: 1;
  }
  .aboutus--item7 {
    grid-column: span 6;
    order: 7;
  }
}

@media screen and (max-width: 930px) { 
  .aboutus__list {
    display: grid;
    grid-template-rows: repeat(7, 1fr); 
    grid-template-columns: repeat(1, 1fr);
    
  }
  .aboutus--item1 {
    grid-column: span 1;
    order: 7;
  }
  .aboutus--item2 {
    grid-column: span 1;
    order: 3;
  }
  .aboutus--item3 {
    grid-column: span 1;
    order: 5;
  }
  .aboutus--item4 {
    grid-column: span 1;
    order: 4; 
  }
  .aboutus--item5 {
    grid-column: span 1;
    order: 2;
  }
  .aboutus--item6 {
    grid-column: span 1;
    order: 6;
  }
  .aboutus--item7 {
    grid-column: span 1;
    order: 1;
  }


}
.aboutus--title {
}

section h2:hover {
  color: #000;
}

section {
  display: grid;
  grid-template-columns: 50px 1fr;
  color: #c8c0e2;
  border: 1px solid #7048E9;
  border-radius: 10px;
  /* background-color: #111; */
  /* box-shadow: 0px 0px 3px 1px rgba(225, 225, 225, 0.5); */
  padding: 0 1rem;
  margin: 1rem;
}
section > div { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section h5 {
  color: #7048E9;
}
section h5 > p {
  margin-bottom: 0.2rem;
}
section h5 > p:hover {
  color: #000;
}
.aboutus__image--wrap {
  text-align: center;
  margin-right: 1rem;
}
.aboutus--image {
  width: 16px;
  border: 2px solid #7048E9;
  /* border-radius: 50%; */
}
section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section li {
  font-size: 0.9rem;
}
section li:hover {
  color: #000;
}
.mung--name {
  display: flex;
}
.mung--image {
  width: 30px;
  height: 15px;
  margin-left: 0.5rem;
}
h4 {margin-top: 0.5rem;}

.point--user--list > li {
  display: flex;
  align-items: center;
  margin: 0.1rem 0;
}
.point--box {
  display: inline-block;
  height: 1rem;
  border: 1px solid #7048E9;
  margin-left: 0.5rem;
}
.point--user--1 {
  width: 88%;
}
.point--user--2 {
  width: 82%;
}
.point--user--3 {
  width: 5%;
}
.point--user--4 {
  width: 5%;
}
.point--user--5 {
  width: 70%;
}
.point--user--6 {
  width: 45%;
}