button {
  appearance: none;
  cursor: pointer;
  border: 0px;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}

.mypage--container {
  margin: 6rem 0;
}

.mypage--title {
  text-align: center;
}
.profile--container {
  border-radius: 10px;
  box-shadow: 0.8px 0.8px 2px 1px rgba(225, 225, 225, 0.2);
  padding: 2rem;
  margin: 1rem 0 2rem;
}
.profile--wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 1rem;

}
.profile--image {
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  border-radius: 10px;
}
.profile--list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile--list > li {
  display: flex;
  justify-content: space-between;
}
.good--button {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  background-color: #7048E9;
  transition: background-color .30s ease-in-out;
}
.good--button:hover {
  background-color: #a182ff;
}






.Profile__ContentBox {
  box-shadow: 0.8px 0.8px 2px 1px rgba(225, 225, 225, 0.2);
  border-radius: 10px;
  padding: 15px;
}

.Profile__RecommendBox {
  background-color: rgba(31, 31, 31, 1);
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0 10px 0;
}

.Profile__ReviewBox {
  background-color: rgba(31, 31, 31, 1);
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0 10px 0;
}

.Profile__ReportBox {
  background-color: rgba(31, 31, 31, 1);
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0 0px 0;
}

