

.main__siginup--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  margin: 4rem auto;
}

.main__signup--image--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* padding-bottom: 5rem; */
}
.main__signup--image{
  width: 200px;
}
.login--title {
  color: #7048E9;
}

.main__signup--text{
  width: 100%;
  text-align: center;
  /* border-bottom: 1px solid #555; */
  padding-bottom: 1rem;
  margin: 2rem 0;
}
.main__siginup__ott--list {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
.ott--image--wrap {
    margin: 0.5rem;
  }
.ott--image {
  height: 28px;
}
.main__signup__form {
  width:100%;
}
.sm--ott--list--container {
  display: none;
}




@media screen and (max-width: 1350px) { 
  .main__siginup--container {
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
  }
}
@media screen and (max-width: 700px) { 
  .main__siginup--container {
    display: block;
  }
  .main__siginup__ott--list {
    display:none;
  }
  .sm--ott--list--container {
    display: block;
    margin-top: 2rem;
  }
  .sm__ott--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ott--image--wrap {
    margin: 1rem;
  }
  .ott--image {
    height: 28px;
    width: auto;
  }
}