
.profile--container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  text-align: center;
  margin: 6rem 0;
}
.profile--title--wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title--image--wrap {
  width: 100%;
  border-bottom: 1px solid #555;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.profile--title--image {
}
.pw--button {
  /* display: block;
  width: 191px; */
}
.sm--pw--button {
  display: none;
}
.profile--form--wrap {
  width: 500px;
  margin: auto;
}

@media screen and (max-width: 1350px) { 
  .profile--container {
    grid-template-columns: 1fr;
  }
  .profile--title--wrap {
    flex-direction: row;
    justify-content: space-between;
    /* text-align: left; */
    border-bottom: 1px solid #555;
  }
  .title--image--wrap {
    border: none;
    padding-bottom: 1rem;
    margin: 0;
  }
  .pw--button {
    width: 100%;
    padding-top: 0.3rem;
    /* text-align: right; */
  }
}
@media screen and (max-width: 700px) { 
  .profile--container{
    display: flex;
    flex-direction: column;
    grid-gap: 2rem;
  }
  .profile--title--wrap {
    display: flex;
  }
  .pw--button {
    display: none;
  }
  .sm--pw--button {
    display: block;
    width: 100%;
    border-top: 1px solid #555;
    padding-top: 2rem;
    margin-top: 2rem;
  }
  .profile--form--wrap {
    width: 100%;
  }
  
} 